rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    match /announcements/{allPaths=**} {
      allow read: if true;
      allow create, update, delete: if request.auth != null 
        && request.auth.token.role == "admin";
    }

    match /profiles/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
